.featured {
  margin-top: var(--margin-xl);
}
.featured-image {
  max-height: 560px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.featured-post {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  /* display: none; */
}
.featured__container {
  padding-top: 45%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: var(--box-shadows);
  background-color: #ffffff;
  position: relative;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.featured-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.read-more--featured {
  width: 180px;
  height: 48px;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  padding: var(--padding);
  margin: var(--margin-l) auto;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}
.featured-post__excerpt {
  font-size: var(--font-fixed-mobile);
  /* text-align: center; */
}
@media screen and (min-width: 667px) {
  .featured__container {
    /* padding: var(--padding-xxl); */
  }
  .featured-post__excerpt {
    font-size: 100%;
  }
}

@media screen and (min-width: 768px) {
  .featured__container {
    /* transform: translateY(-40%); */
  }
}

@media screen and (min-width: 1024px) {
  .featured__container {
    /* transform: translateY(-50%); */
  }
}
