.home-row {
  background: var(--color-body-light);
  padding-top: var(--padding-xl);
}

.container--home {
  background: #ffffff;
  max-width: 1600px;
}

.home-row__header {
  padding: var(--padding-l) var(--padding-l) var(--padding-s) var(--padding-l);
  position: relative;
  max-width: 320px;
  margin: 0 0 var(--margin-xl);
  display: inline-block;
}

.home-row__header:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: var(--padding-l);
  background-color: var(--color-accent);
  height: 4px;
  width: 100%;
}

@media screen and (min-width: 1600px) {
  .container--home {
    padding: var(--padding-xl);
    border: 1px solid var(--border-color-light);
  }
}
