.btn-link {
  background: none;
  border: none;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.container-home--articles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

/* Helpers */
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.padding-xl {
  padding: var(--padding-xl);
}
.has-padding {
  padding: var(--padding);
}
.has-shadow {
  background: #ffffff;
  box-shadow: var(--box-shadows);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.has-border-bottom {
  border-bottom: 1px solid var(--border-color-light);
}
.has-border-top {
  border-top: 1px solid var(--border-color-light);
}
.is-color-white {
  background-color: #ffffff;
}
.is-color-black {
  background: #222222;
}
.has-text-white {
  color: #ffffff !important;
}
.has-text-center {
  text-align: center;
}
.has-content-box {
  box-sizing: content-box;
}
.is-text-centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.read-more {
  padding-top: var(--padding-s);
  color: var(--color-text-third);
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
  font-size: 14px;
}
.read-more:hover {
  color: var(--color-action);
}
.arrow-action {
  font-size: var(--font-m);
  display: inline-block;
  vertical-align: middle;
}
.read-more:hover .arrow-action {
  color: var(--color-text-third);
}
.read-more .arrow-action {
  color: var(--color-action);
}
.read-more:active,
.read-more:visited {
  color: var(--color-text-third);
}
.read-more--full-image {
  text-align: right;
}
.has-shadow:hover {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}
.masonry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.masonry__item {
  flex: 1 1 100%;
  padding: var(--padding);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.masonry__item img {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.masonry__item:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
  filter: grayscale(0.5);
}
.masonry__content {
  padding: var(--padding-xl);
}

.home-row-header {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-primary);
  display: inline-block;
}

@media screen and (min-width: 667px) {
  .has-border {
    border: 1px solid var(--border-color-light);
  }
  .masonry__item {
    max-width: 50%;
  }
  .container-home--articles {
    padding: var(--padding);
  }

  @supports (display: grid) {
    .masonry,
    .container-home--articles {
      display: grid;
      grid-template-columns: repeat(2, minmax(var(--grid-column-width), 1fr));
    }
    .masonry__item {
      max-width: 50%;
    }
    .article--home {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .masonry__item {
    max-width: 33.33333%;
  }
  @supports (display: grid) {
    .masonry {
      display: grid;
      grid-template-columns: repeat(3, minmax(var(--grid-column-width), 1fr));
    }
  }
}

@media screen and (min-width: 1280px) {
  .masonry__item {
    max-width: 25%;
  }
  @supports (display: grid) {
    .masonry {
      display: grid;
      grid-template-columns: repeat(4, minmax(var(--grid-column-width), 1fr));
    }
  }
}
