/* TODO : refactor meta to be only one level deep */

.post {
  background: var(--color-white);
}

.post__summary {
  font-style: italic;
  padding: var(--padding-l);
  border-bottom: 1px solid var(--border-color-light);
  margin-bottom: var(--margin);
}
.post__image {
  margin-bottom: var(--margin-l);
  max-height: 640px;
}
.post__title {
  text-align: center;
  margin-bottom: var(--margin);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.post__container {
  width: calc(100% - var(--padding-xl));
  overflow: hidden;
  padding-top: var(--padding-xl);
  margin: 0 auto var(--margin) auto;
}
.post__category {
  margin-bottom: var(--margin-l);
  font-size: var(--font-s);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.post__author.meta {
  margin: auto;
}

.post__date {
  margin: var(--margin-s) auto;
  display: block;
  text-align: center;
}

.post__author .post-meta--author__image {
  float: left;
  width: 36px;
  height: 36px;
  margin-right: var(--margin);
}
.post__author .post-meta--author__link {
  display: block;
  margin-bottom: var(--margin-s);
}
.post__author .post-meta--author__name {
  margin: auto;
  text-align: center;
}

.post__meta {
  float: right;
}

.post__content {
  padding-left: var(--padding);
  padding-right: var(--padding);
  max-width: 700px;
  margin: auto;
  font-size: 18px;
}
.post__tags {
  overflow-x: hidden;
}
.taglist {
  margin-bottom: var(--margin);
  margin-top: var(--margin-s);
  display: flex;
}
.post__tag a {
  color: var(--color-primary);
}
.post__tag a:visited,
.post__tag a:active {
  color: var(--color-accent);
}
.post__tag {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  display: inline-block;
  padding: var(--padding-s);
  margin-right: var(--margin-s);
}
.post__meta-container {
  max-width: 600px;
  margin: auto;
}
