/* TODO : refactor meta to be only one level deep */

.post {
  background: var(--color-white);
}

.post__summary {
  font-style: italic;
  padding: var(--padding-l);
  border-bottom: 1px solid var(--border-color-light);
  margin-bottom: var(--margin);
}
.post__image {
  margin-bottom: var(--margin-xl);
  max-height: 640px;
}
.post__title {
  text-align: center;
  margin-bottom: var(--margin);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.post__container {
  width: calc(100% - var(--padding-xl));
  overflow: hidden;
  padding-top: var(--padding-xl);
  margin: 0 auto var(--margin) auto;
}
.post__category {
  margin-bottom: var(--margin-l);
  font-size: var(--font-s);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.post__author.meta {
  margin: auto;
}

.post__top-meta {
  max-width: 280px;
  text-align: center;
  margin: var(--margin-s) auto;
  text-transform: uppercase;
}
.post__author .post-meta--author__image {
  width: 24px;
  height: 24px;
  margin-right: var(--margin-s);
}
.post__author .post-meta--author__link {
  display: flex;
  margin-bottom: var(--margin-s);
}
.post__author .post-meta--author__name {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.post__meta {
  float: right;
}

.post__content {
  padding-left: var(--padding);
  padding-right: var(--padding);
  max-width: 700px;
  margin: auto;
  font-size: 18px;
}
.post__article > p:first-of-type {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: var(--margin-xl);
}
.post__article > p:first-of-type::first-letter {
  font-size: 96px;
  line-height: 90px;
  padding: 0 0.15em 0 0;
  float: left;
  initial-letter: 3;
}
.post__tags {
  overflow-x: hidden;
}
.taglist {
  margin-bottom: var(--margin);
  margin-top: var(--margin-s);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.post__tag {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  display: inline-block;
  padding: var(--padding-s);
  margin-right: var(--margin-s);
  margin-bottom: var(--margin);
}
.post__tag a {
  color: var(--color-primary);
}
.post__tag a:visited,
.post__tag a:active {
  color: var(--color-accent);
}

.post__meta-container {
  max-width: 600px;
  margin: auto;
}

@media screen and (min-width: 667px) {
  .post__content {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .post__content {
    max-width: 700px;
  }
}
