.post {
  background: var(--color-white);
}

.post__summary {
  font-style: italic;
  max-width: 95%;
  margin: var(--margin) auto;
}
.post__image {
  margin-bottom: var(--margin-l);
}

.post__container {
  padding: var(--padding);
}
