.related-posts {
  display: flex;
  flex-wrap: wrap;
}
.related-post {
  padding: var(--padding);
  flex: 1 1 50%;
  max-width: 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--margin);
}
.related-post::-webkit-scrollbar {
  display: none;
}

.related-post__image {
  object-fit: cover;
  height: 140px;
  min-width: 100%;
  flex: 1 1 100px;
}
.related-post__header {
  font-size: var(--font-base);
  margin-left: var(--margin);
  background: rgba(255, 255, 255, 0.5);
  width: 80;
  flex: 1 1 auto;
}
