:root {
  --padding: 16px;
  --padding-s: 8px;
  --padding-l: 24px;
  --padding-xl: 32px;

  --margin: 16px;
  --margin-s: 8px;
  --margin-l: 24px;
  --margin-xl: 32px;

  /* Colors */
  --color-primary: #be52f2;
  --color-text-primary: #444444;
  --color-text-secondary: #9b9da0;

  --border-radius: 4px;
}
